# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Sql
3. Java
4. Scala
5. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Seaborn
4. Scikit-learn

| Data Science Tools  |
|---------------------|
| Jupyter Notebook    |
| R Studio            |
| VS code             |


### Below are a few examples of evaluating arithmetic expressions in Python
---

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
min = 200
hr = min/60
print(hr)

3.3333333333333335

**Objectives:**


*   List popular languages for Data Science
*   Evaluating arithmetic expressions in Python
*   Commonly used libraries used by Data Scientists
*   Data Science tools

## Author
Ajose Maria Yemaise